		<div flash-alert active-class="in alert" class="fade" style="width: 600px;">
		    <span class="alert-message">{{flash.message}}</span>
		</div>
		
		<div name="selectedFacets">		
			<a name="facet" ng-repeat="facet in selectedFacets">
				<span class="label label-primary">{{facet}}    | <span ng-click="unselectFacet($index)" class="glyphicon glyphicon-remove"></span></span>
			</a>
		</div><br/>
		
<div>		
				
			<div class="panel panel-default" style="width: 100%;">		
			  <div class="panel-heading">	  
	  			<form class="form-inline" role="form">
	  				<div class="form-group" style="width: 80%">
	  					<input type="text" ng-model="q"  style="width: 100%" class="form-control" placeholder="Search"> 
					</div>
					<div class="form-group">
	  					<button type="submit" ng-click="search(q)" class="btn btn-success"> Search</button>
					</div>
	  			</form><br>
				<h3 class="panel-title">Results</h3>
				 </div> 
			    
		<!-- Results -->	  
			  <div class="panel-body">
				<div id="resultContainer" ng-init="init()">
					<div class="spinner" ng-show="loading">
						<div class="progress progress-striped active">
						  <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						  loading...
						  </div>
						</div>
					</div>
					<ul>
						<li style="list-style: none;" ng-repeat="result in data">
							<a ng-href="http://localhost:8003{{result.href}}">{{result.metadata[1]['{http://marklogic.com/wikipedia}film-title']}} ({{result.metadata[3]['{http://marklogic.com/wikipedia}nominee_year']}})</a>
						<p><small><blockquote>{{result.matches[0]['match-text'][0]}}</blockquote></small></p>				
						</li>
					</ul>
				</div>
			  </div>
			</div>
</div>